.details-cover{
    /* style={{width: "300px", height: "200px", position: "relative", boxShadow: "5px 5px 5px 2px rgba(0, 0, 0, 0.5)"}}  */
    width: 350px;
    /* width: 100px; */
    height: 200px;
    position: relative;
    box-shadow: 10px 5px 15px 0 rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px 50px 5px;
}
.welcome-image{
    position: absolute;
    top: -50%;
    right: -40%;
    max-width: 280px;
    max-height: 280px;
    width: 300px;
    height: 300px;
}
.details-wrapper{
    padding: 10px 10px 10px 10px;
    
}
.hover-animation{
    box-shadow: 10px 5px 15px 0 rgba(0, 0, 0, 0.274);
}
.hover-animation:hover{
    transform: translatey(-10px);
    transition: .5s;
    box-shadow: 10px 20px 10px 5px rgba(0, 0, 0, 0.274);
    /* box-shadow: 0px 30px 10px 5px rgba(0, 0, 0, 0.274); */
}
.graphic-cover{
    display: flex;
    gap: 10vw;
}



@media (max-width: 760px) {
   .graphic-cover{
    display: block;
   }
   .details-cover{
    /* width: 100%; */
    padding: 40px 10px 25px 5px;

   }
   /* .welcome-image{
    width: 350px;
    height: 350px;
   } */
}